body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.container {
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
label {
    margin-top: 20px;
    display: block;
}
textarea, button {
    width: 96%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    resize: none;
}
#decodedResult {
    margin-top: 20px;
    padding: 10px;
    background-color: #e2e2e2;
    border-radius: 4px;
    font-family: monospace;
    white-space: pre-wrap; /* Preserve whitespace */
}